{% extends 'base.html.twig' %}
{% block title %}Blog{% endblock %}
{% block body %}
    <!-- Principal Content Start -->
    <div id="blog">
        <div class="container">
            <div class="row">

                <!-- Blocks of Posts -->
                <div class="col-xs-12 col-sm-8 row">
                    {% for post in posts %}
                        <div class="col-xs-12 col-sm-12">
                            <div class="post">
                                <div class="post-heading">
                                    <span>{{ post.publishedAt|date('j F') }}</span>
                                    <img class="img-responsive" src="{{ asset('images/blog/' ~ post.image) }}" alt="{{ post.title }}">
                                </div>
                                <div class="post-body">
                                    <h3><a href="{{ path('single_post', {'slug': post.slug}) }}"><strong>{{ post.title }}</strong></a></h3>
                                    <hr>
                                    <p>{{ post.content }}</p>
                                </div>
                                <div class="post-footer">
                                    <a class="btn" href="{{ path('single_post', {'slug': post.slug}) }}">READ MORE...</a>
                                    <span>
                                    <i class="fa fa-heart sr-icons"></i>
                        <a href="{{ path('post_like', {'slug': post.slug}) }}">LIKE</a> 
                        {{ post.numLikes }}
                        <i class="fa fa-comments sr-icons"></i> {{ post.numComments }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    
                    <!-- Pagination -->
                    <nav class="text-left">
                        <ul class="pagination">
                            {# Puedes agregar una lógica de paginación aquí si es necesario #}
                        </ul>
                    </nav>
                </div>
                <!-- End of Blog Post -->  

                <!-- Side bar -->  
               <div class="col-xs-12 col-sm-4">
           <form class="form-horizontal" action="{{ path('blog_buscar') }}" method="GET">
    <div class="input-group">
        <input class="form-control" type="text" name="searchTerm" placeholder="Research">
        <span class="input-group-btn">
            <button type="submit" class="btn"><i class="fa fa-search"></i></button>
        </span>
    </div>
</form>
           <div class="panel">
             <div class="panel-heading">
               <h4>Categories</h4>
             </div>
             <div class="panel-body">
               <ul class="nav">
                 <li><a href="#">Category I</a></li>
                 <li><a href="#">Category II</a></li>
                 <li><a href="#">Category III</a></li>
                 <li><a href="#">Category IV</a></li>
                 <li class="last"><a href="#">Category V</a></li>
               </ul>
             </div>
           </div>
           <div class="well">
             <h4>Soluta</h4>
             <p>Quod soluta corrupti earum officia vel inventore vitae quidem, consequuntur odit impedit.</p>
           </div>
            <h3>Recent Posts</h3>
            <hr>
             <div class="post">
              {{ include('partials/recent_post.html.twig', {'recents': recentPosts}) }}
             </div>
             <div class="post">
               

             </div>
        </div>
      <!-- End of Side bar --> 
       
      </div>
     </div>
   </div>
    <!-- End of Principal Content Start --> 

{% endblock %}


            